<!DOCTYPE html>
<html lang="en">
<head>

    <title>Add</title>
</head>
<body>
<form name="employee" action="/updateEmployee" method="post">
    <input placeholder="employee id" type="text" name="employeeId" />
    <input placeholder="first name" type="text" name="firstName" />
    <input placeholder="last name" title="last_name" type="text" name="lastName" />
    <input placeholder="department id" title="department_id" type="text" name="departmentId" />
    <input placeholder="job title" title="job_title" type="text" name="jobTitle"/>
    <input placeholder="gender" title="gender" type="text" name="gender" />
    <input placeholder="date of birthday" title="date_of_birth" type="text" name="dateOfBirth" />
    <br>


    <input type="submit" value="OK">
</form>
</body>
</html>